/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #b4bad2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
ul {
  margin: auto auto auto 0;
}

ul li {
  list-style: none;
  font-size: 1.2em;
  text-align: justify;
}

ul li + li {
  margin-top: 1em;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #eeeeee;
}

ul li a:hover {
  color: #c94e50;
}

/* Loading */
.spinner, .loading {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #EEEEEE;
  border-top-color: #c94e50;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
      transform: rotate(1turn);
  }
}

/* News */
.category-type{
  text-align: center;
  color: #4e4a46;
  font-size: 2.8rem;
  padding-top: 13px;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #c94e50;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #c94e50;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}